<div class="col-12 md:col-6 gridPag">
  <p-confirmDialog class="w-full" [transitionOptions]="'0ms'" rejectLabel="Não" acceptLabel="Sim"></p-confirmDialog>
  <p-divider align="right">
    <span class="p-tag">Pagamento mensal</span>
  </p-divider>
  <div style="margin-top: -0.6rem">
    <input class="p-button-outlined" pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
           placeholder="Pesquisar..."/>
    <button style="margin-left: 1rem;" pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt)"></button>
  </div>

</div>

<div class="card"></div>

<div class="col-12 md:col-6"></div>

<div class="card"></div>

<div class="gridTab">
  <p-messages [(value)]="msgError" [enableService]="false"></p-messages>

  <div>
    <p-divider align="right" type="border-0">
      <p-selectButton  (click)="pagamentoFiltro(this)" [options]="statusOptions" [(ngModel)]="value1"
                       optionLabel="label" optionValue="value"></p-selectButton>
    </p-divider>

  </div>

  <p-divider align="center" type="border-0"></p-divider>
  <div style="background-color: rgb(246, 246 ,246);" class="shadow-3">
    <form [formGroup]="pagForm">
      <table style="width: 100%;margin-top: -1rem; margin-bottom: -2rem;">
        <tr>
          <td colspan="2">
            <p-divider align="right" type="border-0">
              <select (ngModelChange)="getColId($event)" class="p-inputtext p-float-label"
                      style="height: 2.8rem; width: 100%; margin-right:6rem; margin-top: -1rem"
                      formControlName="idPag">
                <option [ngValue]="null" [disabled]="true">Selecione...</option>
                <option [selected]="false" *ngFor="let usuario of usuarios |sortBy:'asc':'{{usuario.nome}}'"
                        value="{{usuario.id}}"> {{usuario.matricula}} - {{usuario.nome}} </option>
              </select>
            </p-divider>
          </td>
        </tr>
        <tr>
          <div align="right" style="margin-top: -1rem;">
            <td>

              <p-calendar (ngModelChange)="getMes($event)" view="month" formControlName="mesPag" [showIcon]="false"
                          dateFormat="MM" inputId="icon"
                          placeholder="Mês" [touchUI]="true"
                          [readonlyInput]="true" [required]>
              </p-calendar>
            </td>

          </div>
        </tr>
        <tr>
          <td>
            <p-divider align="right" type="border-0">
              <button *ngIf="status === '1'" [disabled]="validaLista()" (click)="pagarColaborador()" style="margin-top: -1rem;" pButton pRipple
                      label="{{labelBotao}}" icon="pi pi-plus"
                      class="p-button-success"></button>

              <button *ngIf="status === '3'"  [disabled]="validaLista()" (click)="pagarColaborador()" style="margin-top: -1rem;" pButton pRipple
                      label="{{labelBotao}}" icon="pi pi-plus"
                      class="p-button-warning"></button>
            </p-divider>

          </td>
        </tr>
      </table>
      <p-divider align="center" type="border-0"></p-divider>
    </form>
  </div>

  <div style="margin-bottom: 1rem">
    <p-table #dt styleClass="p-datatable-striped" [value]="pagamento"
             [showCurrentPageReport]="true" responsiveLayout="scroll"
             [globalFilterFields]="['id','matriculaColaborador','nomeColaborador','data','valorDia']"
             [(selection)]="pagamento" [rowHover]="true" dataKey="id">
      <ng-template pTemplate="header">
        <tr style="line-height: 0.3rem;">
          <th pSortableColumn="id">Código
            <p-sortIcon field="Código"></p-sortIcon>
          </th>
          <th pSortableColumn="matriculaColaborador">Matricula
            <p-sortIcon field="Matricula"></p-sortIcon>
          </th>
          <th pSortableColumn="nomeColaborador">Nome
            <p-sortIcon field="Nome"></p-sortIcon>
          </th>
          <th pSortableColumn="data">Data
            <p-sortIcon field="Data"></p-sortIcon>
          </th>
          <th pSortableColumn="valorDia">Valor
            <p-sortIcon field="Valor"></p-sortIcon>
          </th>
          <th>Situação</th>
          <th colspan="2">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pagamento>
        <tr style="line-height: 0.2rem">
          <td>{{pagamento.id}}</td>
          <td>{{pagamento.matriculaColaborador}}</td>
          <td>{{pagamento.nomeColaborador}}</td>
          <td>{{pagamento.data}}</td>
          <td>{{formatarPreco(pagamento.valorDia)}}</td>
          <td style="width: 0.2rem">{{pagamento.status === '1' ? 'Aprovado' : 'Pago' }}</td>
          <td style="width: 0.2rem"></td>
          <td style="width: 0.2rem"></td>
        </tr>

      </ng-template>
      <ng-template pTemplate="footer">
        <tr *ngIf="total > 0" style="background-color: rgb(246, 246 ,246);" class="shadow-3">
          <td>Total:</td>
          <td colspan="3"></td>
          <td>{{formatarPreco(total)}}</td>
          <td  colspan="3"></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
