<div class="col-12 md:col-6 gridPro">
  <p-divider align="right">
    <span class="p-tag">Cadastro de profissão</span>
  </p-divider>
  <input class="p-button-outlined" pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
         placeholder="Pesquisar..."/>
  <button style="margin-left: 1rem;" pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"
          (click)="clear(dt)"></button>
</div>

<div class="card"></div>

<div class="col-12 md:col-6"></div>

<div class="card"></div>

<div class="gridTab">

  <p-table #dt styleClass="p-datatable-striped" [value]="profissao" [paginator]="true" [rows]="10"
           [showCurrentPageReport]="true" responsiveLayout="scroll"
           [globalFilterFields]="['id','descricao','valorDia','situacaoProfissao']" [(selection)]="profissao" [rowHover]="true"
           dataKey="id" currentPageReportTemplate="Mostrando {first} de {last} do total {totalRecords} registros"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr style="line-height: 0.3rem;">
        <th pSortableColumn="id">Código
          <p-sortIcon field="Código"></p-sortIcon>
        </th>
        <th pSortableColumn="descricao">Descrição
          <p-sortIcon field="Descrição"></p-sortIcon>
        </th>
        <th pSortableColumn="valorDia">Valor
          <p-sortIcon field="Valor"></p-sortIcon>
        </th>
        <th pSortableColumn="situacaoProfissao">Situação
          <p-sortIcon field="Situação"></p-sortIcon>
        </th>
        <th><button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success" ></button></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-profissao>
      <tr style="line-height: 0.2rem">
        <td>{{profissao.id}}</td>
        <td>{{profissao.descricao}}</td>
        <td>{{profissao.valorDia}}</td>
        <td>{{profissao.situacaoProfissao}}</td>
        <td> <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-warning mr-2" ></button>
          <button pButton pRipple icon="pi pi-trash"  class="p-button-rounded p-button-danger" ></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>


