<div class="col-12 md:col-6 gridLan">
  <!--  <p-confirmDialog class="w-full" [transitionOptions]="'0ms'" rejectLabel="Não" acceptLabel="Sim"></p-confirmDialog>-->
  <p-divider align="right">
    <span class="p-tag">Lançamento de dária</span>
  </p-divider>
  <div style="margin-top: -0.6rem">
    <input class="p-button-outlined" pInputText type="text"
           placeholder="Pesquisar..."/>
    <button style="margin-left: 1rem;" pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"
    ></button>
  </div>

</div>

<div class="card"></div>

<div class="col-12 md:col-6"></div>

<div class="card"></div>

<div class="gridTab">

  <p-messages [(value)]="msgError" [enableService]="false"></p-messages>
  <div>
    <p-divider align="right" type="border-0">
      <p-selectButton optionLabel="label"
                      optionValue="value"></p-selectButton>
    </p-divider>

  </div>


  <p-table styleClass="p-datatable-striped" [value]="pagamento" [paginator]="true" [rows]="10"
           [showCurrentPageReport]="true" responsiveLayout="scroll"
           [globalFilterFields]="['id','nomeColaborador','data','valorDia']" [(selection)]="pagamento" [rowHover]="true"
           dataKey="id" currentPageReportTemplate="Mostrando {first} de {last} do total {totalRecords} registros"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr style="line-height: 0.3rem;">
        <th pSortableColumn="id">Código
          <p-sortIcon field="Código"></p-sortIcon>
        </th>
        <th pSortableColumn="nomeColaborador">Nome
          <p-sortIcon field="Nome"></p-sortIcon>
        </th>
        <th pSortableColumn="data">Data
          <p-sortIcon field="Data"></p-sortIcon>
        </th>
        <th pSortableColumn="valorDia">Valor
          <p-sortIcon field="Valor"></p-sortIcon>
        </th>
        <th>Situação</th>
        <th colspan="2">
          <button pButton pRipple label="Novo" icon="pi pi-plus"
                  class="p-button-success"></button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pagamento>
      <tr style="line-height: 0.2rem">
        <td>{{pagamento.id}}</td>
        <td>{{pagamento.nomeColaborador}}</td>
        <td>{{pagamento.data}}</td>
        <td>{{pagamento.valorDia}}</td>
        <td>{{pagamento.situacao}}</td>
        <td style="width: 0.2rem">
          <button pButton pRipple icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"></button>
        </td>
        <td style="width: 0.2rem">
          <button pButton pRipple class="p-button-rounded p-button-sm"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog class="p-fieldset shadow-4 " [draggable]="false" [resizable]="false"
          [closable]="true" [style]="{'width': '600px', 'height': '76%'}" [modal]="true" styleClass="p-fluid">
  <div class="p-fieldset-content">
    <div class="card">
      <form>

        <div class="field">
          <label for="colaboradorId" class="block">Colaborador:</label>
          <select class="p-inputtext p-float-label"
                  style="height: 2.8rem; width: 100%;"
                  name="colaboradorId" id="colaboradorId">
            <option [ngValue]="null" [disabled]="true">Selecione...</option>
            <option>
            </option>
          </select>
          <small id="colaboradorId-help" class="p-error block"></small>
        </div>

        <div class="field">
          <label for="data" class="block">Data:</label>
          <p-calendar appendTo="body" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                      placeholder="data" [touchUI]="true" name="data" id="data"
                      [readonlyInput]="true" [required] [maxDate]="" [minDate]="">
          </p-calendar>
          <small id="data-help" class="p-error block"></small>
        </div>

        <div class="field hidden">
          <label for="id" class="">ID:</label>
          <div class="col">
            <input readonly type="number" name="id" id="id" class="w-1 ng-dirty" pInputText
                   placeholder=""/>
          </div>
        </div>

        <div class="field">
          <label for="valorDia" class="block">Valor:</label>
          <input currencyMask type="text" name="valorDia" id="valorDia" class="p-inputtext p-float-label"
                 style="height: 2.8rem; width: 100%;"/>
          <small id="valorDia-help" class="p-error block"></small>
        </div>
        <div class="field hidden">
          <label for="situacao" class="">Situação:</label>
          <div class="col">
            <input readonly type="text" name="situacao" id="situacao" class="w-1 ng-dirty"
                   pInputText placeholder=""/>
          </div>
        </div>

        <div class="field">
          <button pButton type="button" class="m-1" label="salvar"></button>
          <button pButton pRipple type="button" label="Limpar"
                  class="p-button-secondary m-1"></button>
          <button pButton type="button" class=" p-button-danger m-1"
                  label="Cancelar"></button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
