<div class=" cardrel shadow-2">
<p-divider align="left">

</p-divider>
<p-divider align="center" type="">
  <div class="inline-flex align-items-center">

    <i class="pi pi-wallet mr-2"></i>
    <p>Relatório total a pagar</p>
  </div>

</p-divider>


<table style="justify-content: center; width: auto;">
  <tr>
    <td>
      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" inputId="icon" placeholder="ínicio" ></p-calendar>
    </td>

    <td>
      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" inputId="icon" placeholder="final"></p-calendar>
    </td>

    <td>
      <p-button label="Enviar"></p-button>
    </td>

  </tr>
</table>


<p-divider align="center">
  <span class=""></span>
</p-divider>


<p-divider align="left" type="">

</p-divider>
</div>



