<div class="grid" style="padding-top: 4.2rem; width: 100%; padding-left: 0.5rem;">
  <div class="col-12 shadow-1 shadow-2"
       style="background-color: rgb(244, 244, 244); border-radius: 1rem;">
    <div class="card">
      <h5 style="text-align: center"><i class="pi pi-folder-open mr-2"> Gerador de relatório</i></h5>
    </div>
  </div>
  <p-dialog header="Relatório"
            [(visible)]="displayPosition" [position]="position" [maximizable]="true" [closeOnEscape]="true"
            [style]="{width: '80vw', height:'auto'}" [modal]="true" [closable]="false"
            [draggable]="true" [resizable]="true" [blockScroll]="true" [className]="relAForm">
    <app-iframe-lista-colaborador-total-pagar *ngIf="displayPosition && inicioRelA && fimRelA"
                                              [inicioRelA]="inicioRelA"
                                              [fimRelA]="fimRelA"></app-iframe-lista-colaborador-total-pagar>
    <app-iframe-colaborador-total-pagar *ngIf="displayPosition && idRelB && inicioRelB && fimRelB"
                                        [idRelB]="idRelB" [inicioRelB]="inicioRelB"
                                        [fimRelB]="fimRelB"></app-iframe-colaborador-total-pagar>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="refresh()" label="Fechar"
                styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  <div class="col-12 md:col-6">
    <div class="card">
      <div  class="shadow-2" style="background-color: rgb(246, 246, 246);">

        <div style="height: 14rem">
          <form [formGroup]="relAForm" class="">
            <table style="justify-content: center; width: auto; background-color: rgb(246, 246, 246);">
              <tr>
                <td>
                  <p></p>
                  <p-calendar formControlName="inicioRelA" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                              placeholder="ínicio" [touchUI]="true"
                              [readonlyInput]="true" [required]>
                  </p-calendar>
                </td>

                <td>
                  <p></p>
                  <p-calendar formControlName="fimRelA" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                              placeholder="final" [touchUI]="true"
                              [readonlyInput]="true" [required]>
                  </p-calendar>
                </td>
              </tr>
              <tr>
                <td>
                  <p></p>
                  <button (click)="printListaColaboradorTotalPagar()" pButton type="button" label="Gerar"
                          icon="pi pi-folder-open" class="p-button-sprimary mr-2"></button>
                </td>

              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <p-tabView orientation="left">

      </p-tabView>
    </div>
  </div>

  <div class="col-12 md:col-6 ">
    <div style="background-color: rgb(246, 246, 246);" class="shadow-2">

      <div style="height: 14rem;">
        <form [formGroup]="relBForm">
          <table style="justify-content: center; width: auto; background-color: rgb(246, 246, 246);">
            <tr>
              <td style="text-align: right">
                <p></p>
                Colaborador:
              </td>
              <td>
                <p></p>

                <select class="p-inputtext p-float-label" style="height: 2.8rem; width: 100%"
                        formControlName="idRelB">
                  <option *ngFor="let usuario of usuarios" value="{{usuario.id}}"> {{usuario.nome}}</option>
                </select>

              </td>
            </tr>
            <tr>
              <td>
                <p></p>
                <p-calendar formControlName="inicioRelB" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                            placeholder="ínicio" [touchUI]="true"
                            [readonlyInput]="true" [required]>
                </p-calendar>
              </td>
              <td>
                <p></p>
                <p-calendar formControlName="fimRelB" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                            placeholder="final" [touchUI]="true"
                            [readonlyInput]="true" [required]>
                </p-calendar>
              </td>
            </tr>
            <tr>
              <td>
                <p></p>
                <button (click)="printColaboradorTotalPagar()" pButton type="button" label="Gerar"
                        icon="pi pi-folder-open" class="p-button-sprimary mr-2"></button>
              </td>

            </tr>
          </table>
        </form>
      </div>
    </div>

    <div class="card">

    </div>

  </div>
</div>

