<div style="padding-top: 3rem;"></div>
<p-divider align="right">
  <span class="p-tag">Gerador de Relatório</span>
</p-divider>
<div class="gridRel" style=" width: 100%; padding-left: 0.5rem; padding-right: 0.5rem;">

  <p-dialog header="Relatório gerado"
            [(visible)]="displayPosition" [position]="position" [maximizable]="true" [closeOnEscape]="true"
            [style]="{width: '80vw', height:'auto'}" [modal]="true" [closable]="false"
            [draggable]="true" [resizable]="true" [blockScroll]="true" [className]="relAForm">
    <app-iframe-lista-colaborador-total-pagar *ngIf="inicioRelA && fimRelA"
                                              [inicioRelA]="inicioRelA"
                                              [fimRelA]="fimRelA"></app-iframe-lista-colaborador-total-pagar>
    <app-iframe-colaborador-total-pagar *ngIf="idRelB && inicioRelB && fimRelB"
                                        [idRelB]="idRelB" [inicioRelB]="inicioRelB"
                                        [fimRelB]="fimRelB"></app-iframe-colaborador-total-pagar>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="refresh()" label="Fechar"
                styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
  <div class="col-12 md:col-6">
    <div class="card">
      <div class="shadow-2" style="background-color: rgb(246, 246, 246);">

        <div style="height: 15.4rem">
          <form [formGroup]="relAForm" class="">
            <table
              style="justify-content: center; width: 100%; background-color: rgb(246, 246, 246);text-align: right;">
              <tr>
                <td class="shadow-3" colspan="2"
                    style="text-align: center; padding-top: 0.5rem; background-color: rgb(225, 225, 225);height: 2.3rem;">
                  Extrato total para pagamento
                </td>
              </tr>
              <tr>
                <td>
                  <p></p>
                  <p-calendar formControlName="inicioRelA" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                              placeholder="ínicio" [touchUI]="true" [maxDate]="dataMaxima" [minDate]="dataMinima"
                              [readonlyInput]="true" [required]>
                  </p-calendar>
                </td>

                <td style="text-align: left">
                  <p></p>
                  <p-calendar formControlName="fimRelA" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                              placeholder="final" [touchUI]="true" [maxDate]="dataMaxima" [minDate]="dataMinima"
                              [readonlyInput]="true" [required]>
                  </p-calendar>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: right;height: 8.2rem;padding-top: 4.1rem">
                  <p></p>
                  <button style="margin-right: 0.5rem" pButton label="Limpar" class="p-button-outlined"
                          icon="pi pi-filter-slash"
                          (click)="relAForm.reset(true)"></button>
                  <button (click)="printListaColaboradorTotalPagar()" pButton type="button" label="Gerar"
                          icon="pi pi-folder-open" class="p-button-sprimary mr-2"></button>
                </td>

              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>

    <div class="card">
      <p-divider align="center">
        <span>Tecnologia utilizada</span>
      </p-divider>
      <p-panel header="Jasper Reports" [toggleable]="true" [collapsed]="false" class="line-height-3 m-0">
        JasperReports é uma ferramenta de relatório Java de código aberto que pode gravar em uma variedade de destinos,
        como: tela, impressora, em PDF, HTML, Microsoft Excel, RTF, ODT, valores separados por vírgula ou arquivos XML.
        Ele pode ser usado em aplicativos habilitados para Java, incluindo Java EE ou aplicativos da web,
        para gerar conteúdo dinâmico.
      </p-panel>
      <!--      <p-tabView orientation="left">-->
      <!--        <p-autoComplete [(ngModel)]="selectedColaborador"-->
      <!--         [suggestions]="listColaborador"-->
      <!--         (completeMethod)="buscaColaboradorNome($event)"-->
      <!--         field="nome" (onSelect)="selectID($event)"-->
      <!--         [delay]="300" [minLength]="1" [dropdown]="true"-->
      <!--         [forceSelection]="true" placeholder="Colaborador"-->
      <!--         [showEmptyMessage]="true" dataKey="id"  formControlName="idRelB"-->
      <!--        ></p-autoComplete>-->
      <!--      </p-tabView>-->
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div style="background-color: rgb(246, 246, 246);" class="shadow-2">
      <div style="height: 15.4rem;">
        <form [formGroup]="relBForm">
          <table style="justify-content: center; width: 100%; background-color: rgb(246, 246, 246);text-align: right;">
            <tr>
              <td class="shadow-3" colspan="2"
                  style="text-align: center; padding-top: 0.5rem; background-color: rgb(225, 225, 225);height: 2.3rem;">
                Extrato para pagamento
              </td>
            </tr>
            <tr>
              <td style="text-align: right">
                <p></p>
                Colaborador:
              </td>
              <td>
                <p></p>

                <select class="p-inputtext p-float-label" style="height: 2.8rem; width: 98%;"
                        formControlName="idRelB">
                  <option [ngValue]="null" [disabled]="true" >Selecione...</option>
                  <option [selected]="false" *ngFor="let usuario of usuarios |sortBy:'asc':'{{usuario.nome}}'"
                          value="{{usuario.id}}"> {{usuario.nome}}</option>
                </select>

              </td>
            </tr>
            <tr>
              <td>
                <p></p>
                <p-calendar formControlName="inicioRelB" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                            placeholder="ínicio" [touchUI]="true" [maxDate]="dataMaxima" [minDate]="dataMinima"
                            [readonlyInput]="true" [required]>
                </p-calendar>
              </td>
              <td style="text-align: left">
                <p></p>
                <p-calendar formControlName="fimRelB" [showIcon]="false" dateFormat="dd/mm/yy" inputId="icon"
                            placeholder="final" [touchUI]="true" [maxDate]="dataMaxima" [minDate]="dataMinima"
                            [readonlyInput]="true" [required]>
                </p-calendar>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: right">
                <p></p>
                <button style="margin-right: 0.5rem" pButton label="Limpar" class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="relBForm.reset(true)"></button>
                <button (click)="printColaboradorTotalPagar()" pButton type="button" label="Gerar"
                        icon="pi pi-folder-open" class="p-button-sprimary mr-2"></button>
              </td>

            </tr>
          </table>
        </form>
      </div>
    </div>

    <div class="card">
      <p-divider align="center">
        <span>Detalhes técnicos</span>
      </p-divider>
      <p-tabView orientation="left">
        <p-tabPanel header="Compile" class="line-height-3 m-0">
          Classe (JasperCompileManager) utilizada para compilar designs de relatório no formulário pronto para
          preenchimento e para
          obter a representação XML de objetos de design de relatório para armazenamento ou transferência de rede.
          Essa classe expõe toda a funcionalidade de compilação de relatórios da biblioteca.
        </p-tabPanel>
        <p-tabPanel header="Fill" class="line-height-3 m-0">
          Classe (JasperFillManager) utilizada para preencher projetos de relatórios compilados com dados de fontes de
          dados de relatórios,
          a fim de produzir documentos orientados a páginas, prontos para impressão.
          Ele expõe uma variedade de métodos que recebem um modelo de relatório na forma de um objeto,
          arquivo ou fluxo de entrada e também produz um documento em vários formatos de saída
          (objeto, arquivo ou fluxo de saída).
        </p-tabPanel>
        <p-tabPanel header="Export" class="line-height-3 m-0">
          Classe (JasperExportManager) utilizada para exportar relatórios gerados em formatos mais populares, como PDF,
          HTML e XML.
          Esses métodos podem processar dados que vêm de diferentes fontes e vão para diferentes destinos
          (arquivos, fluxos de entrada e saída, etc.).
          Para exportar para o formato XLS e CSV ou para usar parâmetros especiais do exportador,
          a classe específica do exportador deve ser usada diretamente.
        </p-tabPanel>
      </p-tabView>
    </div>

  </div>
</div>
