<div class="col-12 md:col-6 gridUser">
  <p-confirmDialog class="w-full" [transitionOptions]="'0ms'" rejectLabel="Não" acceptLabel="Sim"></p-confirmDialog>
  <p-divider align="right">
    <span class="p-tag">Cadastro de usuário</span>
  </p-divider>
  <div style="margin-top: -0.6rem">
    <input class="p-button-outlined" pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
           placeholder="Pesquisar..."/>
    <button style="margin-left: 1rem;" pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt)"></button>
  </div>
</div>

<p-toast position="top-right" key="tr"></p-toast>
<p-confirmDialog class="w-full" [transitionOptions]="'0ms'" rejectLabel="Não" acceptLabel="Sim"></p-confirmDialog>


<p-messages [(value)]="msgError" [enableService]="false"></p-messages>

<div class="gridTab">

  <div>
    <p-divider align="right" type="border-0">
      <p-selectButton [options]="statusOptions" [(ngModel)]="value1"
                      optionLabel="label"
                      optionValue="value"></p-selectButton>
    </p-divider>

  </div>
  <p-table #dt [value]="usuarios" [rows]="5" [paginator]="true"
           [globalFilterFields]="['matricula','nome','roles','colaborador','situacao','email','telefone']"
           responsiveLayout="scroll"
           [(selection)]="usuario" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Mostrando {first} de {last} do total {totalRecords} "
           [showCurrentPageReport]="true">

    <ng-template pTemplate="header">
      <tr style="line-height: 0.3rem;">
        <th style="text-align: center" pSortableColumn="matricula">Matricula
          <p-sortIcon field="matricula"></p-sortIcon>
        </th>
        <th style="text-align: center" pSortableColumn="nome">Nome
          <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th style="text-align: center" pSortableColumn="colaborador">Colaborador
          <p-sortIcon field="colaborador"></p-sortIcon>
        </th>
        <th style="text-align: center" pSortableColumn="roles">Permissão
          <p-sortIcon field="role"></p-sortIcon>
        </th>
        <th style="text-align: center" pSortableColumn="situacao">Situacao
          <p-sortIcon field="situacao"></p-sortIcon>
        </th>
        <th style="text-align: center" pSortableColumn="email">Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th style="text-align: center" pSortableColumn="telefone">Telefone
          <p-sortIcon field="telefone"></p-sortIcon>
        </th>
        <th colspan="2" style="text-align: right">
          <button pButton pRipple label="Novo" (click)="abrirDialogUsuario()" icon="pi pi-plus"
                  class="p-button-success mr-2"></button>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr style="line-height: 1rem;" class="shadow-8">
        <td style="text-align: center">{{usuario.matricula }}</td>
        <td style="text-align: center">{{usuario.nome }}</td>
        <td style="text-align: center">{{trataColaborador(usuario.colaborador)}}</td>
        <td style="text-align: center">{{tratarRolesSepparaPorVirgula(usuario.roles)}}</td>
        <td style="text-align: center">{{usuario.situacao}}</td>
        <td style="text-align: center">{{usuario.email}}</td>
        <td style="text-align: center">{{usuario.telefone | celular}}</td>
        <td style="width: 0.2rem; text-align: center">

          <button pButton pRipple icon="pi pi-pencil" (click)="editar(usuario.id)"
                  class="p-button-rounded p-button-warning mr-2"></button>
        </td>
        <td style="width: 0.2rem; text-align: center">
          <button pButton pRipple icon="pi pi-trash" [disabled]="validaUsuarioLogado(usuario.email)"
                  (click)="deletarUsuario(usuario.id)" class="p-button-rounded p-button-danger"></button>
        </td>

      </tr>

      <tr style="line-height: 1rem;">

        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">CPF</p></p-divider>
          {{usuario.cpf | cpf : false }}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">RG</p></p-divider>
          {{usuario.rg}}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">CEP</p></p-divider>
          {{usuario.endereco.cep | zipCode}}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">Endereço</p></p-divider>
          {{usuario.endereco.logradouro}}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">Número</p></p-divider>
          {{usuario.endereco.numero}}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">Bairro</p></p-divider>
          {{usuario.endereco.bairro}}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">Complemento</p></p-divider>
          {{usuario.endereco.complemento}}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">Cidade</p></p-divider>
          {{usuario.endereco.localidade}}
        </td>
        <td style="text-align: center">
          <p-divider align="left"><p style="font-weight: bold; margin-top: -1rem;">Estado</p></p-divider>
          {{usuario.endereco.uf}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog class="p-fieldset shadow-4 " [draggable]="false" [resizable]="false" [(visible)]="usuariotDialog"
          [closable]="true" [style]="{'width': '600px', 'height': '76%'}" [modal]="true" styleClass="p-fluid">
  <div class="p-fieldset-content">
    <div class="card">
      <form [formGroup]="form">
        <div class="field" hidden>
          <label for="id" class="">ID:</label>
          <div class="col">
            <input readonly type="number" name="id" id="id" class="w-1 ng-dirty" formControlName="id" pInputText
                   placeholder=""/>
          </div>
          <small id="id-help" class="p-error block">{{getErrors('id')}}</small>
        </div>

        <div class="field">
          <label for="nome" class="">Nome:</label>
          <input type="text" name="nome" id="nome" class="w-full ng-dirty" formControlName="nome" pInputText
                 placeholder="Informe o nome"/>
          <small id="nomeUsuario-help" class="p-error block">{{getErrors('nome')}}</small>
        </div>
        <div class="field">
          <label for="cpf" class="">CPF:</label>
          <input type="text" name="cpf" id="cpf" class="w-full ng-dirty" formControlName="cpf" pInputText
                 placeholder="Informe o CPF"/>
          <small id="cpf-help" class="p-error block">{{getErrors('cpf')}}</small>
        </div>

        <div class="field">
          <label for="rg" class="">RG:</label>
          <input type="text" name="rg" id="rg" class="w-full ng-dirty" formControlName="rg" pInputText
                 placeholder="Informe o RG"/>
          <small id="rg-help" class="p-error block">{{getErrors('rg')}}</small>
        </div>

        <div class="field hidden">
          <label for="situacao" class="">Situacao:</label>
          <input type="text" name="situacao" id="situacao" class="w-full ng-dirty" formControlName="situacao"
                 pInputText placeholder="Informe a Situacao"/>
          <small id="situacao-help" class="p-error block">{{getErrors('situacao')}}</small>
        </div>

        <div class="field">
          <label for="cep" class="">CEP:</label>
          <input type="text" name="cep" id="cep" maxlength="10" class="w-full ng-dirty" formControlName="cep"
                 (blur)="consultaCep($event.target,form)" pInputText placeholder="Informe o CEP"/>
          <small id="cep-help" class="p-error block">{{getErrors('cep')}}</small>
        </div>

        <div class="field">
          <label for="bairro" class="">Bairro:</label>
          <input type="text" name="bairro" id="bairro" [readonly]="true" class="w-full ng-dirty"
                 ng-model="endereco.bairo" formControlName="bairro" pInputText>
          <small id="bairro-help" class="p-error block">{{getErrors('bairro')}}</small>
        </div>
        <div class="field">
          <label for="localidade" class="">Localidade:</label>
          <input type="text" name="localidade" id="localidade" [readonly]="true" class="w-full ng-dirty"
                 formControlName="localidade" pInputText placeholder="Informe a localidade"/>
          <small id="localidade-help" class="p-error block">{{getErrors('localidade')}}</small>
        </div>
        <div class="field">
          <label for="logradouro" class="">Rua:</label>
          <input type="text" name="logradouro" id="logradouro" [readonly]="true" class="w-full ng-dirty"
                 formControlName="logradouro" pInputText/>
          <small id="logradouro-help" class="p-error block">{{getErrors('logradouro')}}</small>
        </div>
        <div class="field">
          <label for="numero" class="">Número:</label>
          <input type="text" name="numero" id="numero" class="w-full ng-dirty" formControlName="numero" pInputText/>
          <small id="numero-help" class="p-error block">{{getErrors('usuario.endereco.numero')}}</small>
        </div>
        <div class="field">
          <label for="complemento" class="">Complemento:</label>
          <input type="text" name="complemento" id="complemento" class="w-full ng-dirty" formControlName="complemento"
                 pInputText/>
          <small id="complemento-help" class="p-error block">{{getErrors('usuario.endereco.complemento')}}</small>
        </div>

        <div class="field">
          <label for="uf" class="">UF:</label>
          <input type="text" name="uf" id="uf" [readonly]="true" class="w-full ng-dirty" formControlName="uf"
                 pInputText/>
          <small id="uf-help" class="p-error block">{{getErrors('uf')}}</small>
        </div>

        <div class="field">
          <label for="nome" class="">Colaborador:</label>
          <div class="field-radiobutton">
            <div class="m-1">
              <p-radioButton class="ng-dirty" name="colaborador" formControlName="colaborador" value="1"
                             inputId="colaborador1"></p-radioButton>
              <label class="m-1">Sim</label>
            </div>
            <div class="m-1">
              <p-radioButton name="colaborador" class="ng-dirty" formControlName="colaborador" value="0"
                             inputId="colaborador2"></p-radioButton>
              <label class="m-1">Não</label>
            </div>
          </div>
          <small id="nome-help" class="p-error block">{{getErrors('colaborador')}}</small>
        </div>
        <div class="field">
          <label for="email" class="block">Email:</label>
          <input type="email" name="email" id="email" class="w-full ng-dirty" formControlName="email" pInputText
                 placeholder="Informe o seu email"/>
          <small id="email-help" class="p-error block">{{getErrors('email')}}</small>
        </div>
        <div class="field">
          <label for="telefone" class="block">Celular:</label>
          <input type="telefone" name="telefone" id="telefone" class="w-full ng-dirty" formControlName="telefone"
                 pInputText
                 placeholder="Informe o número do celular"/>
          <small id="telefone-help" class="p-error block">{{getErrors('telefone')}}</small>
        </div>
        <div *ngIf="edicao" class="field">
          <label for="password" class="block">Senha:</label>
          <input type="password" name="password" id="password" formControlName="password" class="w-full ng-dirty"
                 pInputText placeholder="{{placeholderSenha}}"/>
          <small id="password-help" class="p-error block">{{getErrors('password')}}</small>
        </div>
        <div class="field">
          <label for="roles" class="block">Role:</label>
          <p-multiSelect [style]="{'width': '100%'}" [options]="roles" formControlName="roles" name="roles" id="roles"
                         inputId="role" [(ngModel)]="role" optionLabel="roleName" class="ng-dirty"
                         placeholder="Seleciona a role para o usuario"></p-multiSelect>
          <small id="role-help" class="p-error block">{{getErrors('roles')}}</small>
        </div>
        <div class="field">
          <button pButton type="button" (click)="salvar()" [disabled]="!form.valid" class="m-1"
                  label="{{labelSalvar}}"></button>
          <button pButton pRipple type="reset" *ngIf="!edicao" label="Limpar" class="p-button-secondary m-1"></button>
          <button pButton type="button" (click)="fecharDialogUsuario()" class=" p-button-danger m-1"
                  label="Cancelar"></button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

