/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.p-dialog-header {
  padding: 0.3rem!important;
}
.p-dialog-footer{
  padding: 0.5rem 1rem 1rem 1rem!important;
  border-bottom-right-radius:0rem!important;
  border-bottom-left-radius:0rem!important;
  }
.p-dialog-content{
  padding:0rem!important;
}
.p-dialog {
  max-height: 100%;
}
.p-datepicker-touch-ui{
  min-width: 10vw!important;
}
.p-divider-content {
  background-color: rgb(255, 255, 255, 0.1)!important;
}



